notifications:
  email: false

sudo: false

os:
  - osx
  - linux

addons:
  apt:
    packages:
      - xclip

language: node_js

node_js:
  - "6.3.1"

env:
  - GITHUB_TOKEN=1b17d62d38a4846efa7ea4de4b773b581787b0f1

before_install:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

install:
  - npm install
  - npm run vscode:prepublish

script:
  - npm install -g gulp
  - gulp
  - npm test --silent
