.github/**
.vscode/**
.vscode-test/**
build/**
out/test/**
test/**
typings/**
**/*.ts
**/*.map
.github_changelog_generator
.gitignore
*.yml
# Not needed, due to webpack
node_modules/
src/
tsconfig.json
webpack.config.js
