.github/**
.husky/**
.yarn/**
.vscode/**
.vscode-test/**

**/*.ts
*.yml

src/**
build/**
test/**
typings/**
out/src/**
out/test/**
out/*.map
node_modules/**
images/design/**

.gitignore
.prettierignore

tsconfig.json
webpack.*.js
gulpfile.js
renovate.json
