.github/**

.vscode/**
.vscode-test/**

**/*.ts
*.yml

src/**
build/**
test/**
typings/**
out/src/**
out/test/**
node_modules/**
images/design/**

.gitignore

tsconfig.json
tslint.json
webpack.config.js
gulpfile.js
renovate.json
.github_changelog_generator
