name: build

on:
  push:
    branches:
      - 'master'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout VSCodeVim
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Prettier
        if: matrix.os != 'windows-latest'
        run: pnpm prettier:check

      - name: Lint
        run: pnpm lint

      - name: Build
        run: pnpm build

      - name: Test on ubuntu-latest
        if: matrix.os != 'windows-latest'
        run: |
          pnpm build-test
          xvfb-run -a pnpm test

      - name: Test on windows-latest
        if: matrix.os == 'windows-latest'
        run: |
          pnpm build-test
          pnpm test
