name: Pull Request

on:
  pull_request:
    branches:
      - '**'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout VSCodeVim
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Prettier
        run: yarn prettier:check

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build

      - name: Test
        run: |
          yarn build-test
          xvfb-run -a yarn test
